body {
	font-family: "Times New Roman" , serif;
	background-color: grey;
	color: white;
}

h2 {
	text-align: center;
	font-size: 200%;
}

#porshe {
	font-size: 200%;
	text-decoration: none;
}

.first {
	color: navy;
}

.second {
	color: red;
}